WinFormsClient/Connected Services/ProductServiceReference/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductServiceDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductServiceDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductContract" nillable="true" type="tns:ProductContract" />
  <xs:complexType name="ArrayOfProductContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductContract" nillable="true" type="tns:ProductContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductContract" nillable="true" type="tns:ArrayOfProductContract" />
</xs:schema>